

            <!-- Nav Bar Start -->
            <div class="nav-bar">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                        <a href="#" class="navbar-brand">MENU</a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto">
                                <a href="/admin" class="nav-item nav-link active">Admin Home</a>
                                <a href="/admin/manageusers" class="nav-item nav-link">Manage users</a>
                                <!--<a href="/contact" class="nav-item nav-link">Contact</a>
                                <a href="/service" class="nav-item nav-link">Service</a>
                                <a href="/register" class="nav-item nav-link">Register</a>-->
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Category Options</a>
                                    <div class="dropdown-menu">
                                        <a href="/admin/addcategory" class="dropdown-item">Add Category</a>
                                        <a href="/admin/addsubcategory" class="dropdown-item">Add SubCategory</a>
                                    </div>
                                </div>                         
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Settings</a>
                                    <div class="dropdown-menu">
                                        <a href="/admin/cpadmin" class="dropdown-item">Change Password</a>
                                        <a href="/admin/epadmin" class="dropdown-item">Edit Profile</a>
                                    </div>
                                </div>                          
 
                                <a href="/login" class="nav-item nav-link">Logout</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Nav Bar End -->